.button {
  @include button(
    false,
    map-deep-get($colors, brand, secondary),
    lighten(map-deep-get($colors, brand, secondary), 20%),
    auto,
    solid
  );

  font-size: 16px;
  font-weight: $weight__bold;
  line-height: 16px;
  text-decoration: none;
  transition: all $transition__duration $transition__easing;

  &:hover,
  &:active {
    border-color: lighten(map-deep-get($colors, brand, secondary), 20%);
  }
}

.button--hollow {
  @include button-hollow;
  @include button-hollow-style(
    map-deep-get($colors, brand, secondary),
    20%,
    2px
  );
}

.button--clear {
  @include button-style(
    transparent,
    map-deep-get($colors, neutral, lighter),
    map-deep-get($colors, neutral, darkest)
  );
}

.button--secondary {
  @include button-style(
    map-deep-get($colors, neutral, light),
    map-deep-get($colors, neutral, midlight),
    auto
  );
}

.button--tag {
  @include button(
    false,
    map-deep-get($colors, neutral, lighter),
    map-deep-get($colors, brand, primary),
    auto,
    solid
  );

  border: none;
  border-radius: 24px;
  font-size: 12px;
  font-weight: $weight__semi-bold;
  line-height: 1.4;
  margin-bottom: 8px;
  padding: 12px 16px;
  text-decoration: none;
  text-transform: uppercase;

  + .button--tag {
    margin-left: 16px;
  }

  a {
    text-decoration: none;
  }
}

.button--tag--large {
  font-size: 14px;
  font-weight: $weight__bold;
  margin-bottom: 16px;
  padding: 16px 32px;
}

.button--xs {
  @include button(
    false,
    map-deep-get($colors, neutral, lighter),
    map-deep-get($colors, neutral, lighter),
    map-deep-get($colors, neutral, dark),
    solid
  );

  align-items: center;
  justify-self: flex-start;
  border: none;
  border-radius: 4px;
  display: flex;
  font-size: 14px;
  font-weight: $weight__semi-bold;
  line-height: 1.4;
  margin-bottom: 8px;
  padding: 6px 8px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover, &:active {
    color: map-deep-get($colors, neutral, darkest);
  }
}
