<div class="grid-container">
    <div class="grid-x grid-margin-x align-center">
        <div class="cell small-12 tablet-10">
            {% if content.field_title %}
                <h1>{{ content.field_title }}</h1>
            {% endif %}

            {{ content.field_content }}

        </div>
    </div>
</div>