<div class="content-card__comments">
    <a href="{{ url }}#comments" class="button--xs">
        {% include directory ~ '/templates/partials/svg-icon.twig' with { 
            icon: 'message-2', 
            width: 16,
            height: 16 
        } %}
        {{ comment_count|default('0') }}
    </a>
</div>