<header class="site-header">
    <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">
            <div class="cell small-12">
                {{ page.header }}
            </div>
        </div>
    </div>
</header>
